<% provide(:title, 'Update Genre') %>
<h1>Update Genre</h1>

<% if notice %>
<p >
<%= notice %>
</p>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
 

      <%= form_for(@subgenre) do |f| %>
      

      <%= f.label :name%>
      <%= f.text_field :name, class: 'form-control' %>


      <%= f.submit "Update Genre", class: "btn btn-primary" %>
      
       <p><%= link_to "Go back to Home" , root_path %></p>
    <% end %>
      
       
  </div>
</div>
